[workspace]
members = [".", "macro"]

[package]
name = "smart-bench"
version = "0.1.0"
edition = "2021"

[dependencies]
smart-bench-macro = { version = "0.1.0", path = "./macro" }
async-std = { version = "1.9.0", features = ["attributes", "tokio1"] }
jsonrpsee-types = "0.3.0"
color-eyre = "0.5.11"
codec = { package = "parity-scale-codec", version = "2", default-features = false }
structopt = "0.3.25"
subxt = { git = "https://github.com/paritytech/subxt", branch = "master" }

# substrate
sp-core = { package = "sp-core", git = "https://github.com/paritytech/substrate/", branch = "master" }
sp-keyring = { package = "sp-keyring", git = "https://github.com/paritytech/substrate/", branch = "master" }
sp-runtime = { package = "sp-runtime", git = "https://github.com/paritytech/substrate/", branch = "master" }