[workspace]
members = [".", "macro"]

[package]
name = "smart-bench"
version = "0.1.0"
edition = "2021"

[dependencies]
smart-bench-macro = { version = "0.1.0", path = "./macro" }
async-std = { version = "1.10.0", features = ["attributes", "tokio1"] }
color-eyre = "0.6.0"
codec = { package = "parity-scale-codec", version = "2", default-features = false }
structopt = "0.3.26"
subxt = { git = "https://github.com/paritytech/subxt", branch = "master" }

# substrate
sp-core = "5.0.0"
sp-keyring = "5.0.0"
sp-runtime = "5.0.0"
